<?xml version = "1.0"?>
<launch>
  <!--*********** Arguments ************ -->
  
  <arg name="open_rviz" default="true"/>  
  <arg name="move_forward_only" default="false"/>

  <!--*********** Map server ***********-->
  
  <node pkg="map_server" name="map_server" type="map_server" args="$(find romr_robot)/maps/romr_lab_map.yaml"/> 
  
  <!--*********** AMCL algorithm ***********-->
  
  <include file="$(find romr_robot)/launch/amcl.launch"/> 
   
  <!--*********** move_base ***********-->
  
  <include file="$(find romr_robot)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!--*********** rviz ***********-->

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find romr_robot)/config/romr_navigation.rviz"/>
  </group>   
  
</launch>
